<!DOCTYPE html>
<html lang="de">  
  <head>    
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>N27-Impressum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
     </head>
  <body>
    <header>
      DPL-Deutsche Personalleasing GmbH
      DPL Deutsche Personalleasing GmbH 
      Mindener Straße 93
      32049 Herford
       Tel. 05221 / 2752 - 0
      Fax 05221 / 2752 - 22 
        
      Geschäftsführer: Marco Klocke 
      
      Amtsgericht Bad Oeynhausen
      HRB 6056     Email: info@dpl.de    
        
      Niederlassung Melle:  
      Mühlenstraße 61a
      49324 Melle 
      Tel. 05422 / 922 990 - 0
      Fax 05422 / 922 990 - 22 
        
      Niederlassung Gütersloh:  
      Friedrich-Ebert-Straße 2+4
      33330 Gütersloh 
      Tel. 05241 / 90 53 58 0
      Fax 05241 / 90 53 58 2 
        
      Die Firma DPL Personalleasing GmbH ist Erlaubnisinhaber nach § 1 AÜG. 
      Die gewerbsmäßige Arbeitnehmerüberlassung ist nur mit einer Erlaubnis zulässig. Zuständig für die Erteilung der Erlaubnis zur Arbeitnehmerüberlassung ist die: 
      Bundesagentur für Arbeit
      Regensburger Straße 104
      90478 Nürnberg 
        
      Durch Erlass hat der Präsident der Bundesagentur für Arbeit verschiedenen Regionaldirektionen die Durchführung des Arbeitnehmerüberlassungsgesetzes übertragen. Die Erlaubnis zur Arbeitnehmerüberlassung für die Firma DPL Personalleasing GmbH erteilte die: 
      Regionaldirektion Nordrhein-Westfalen der Bundesagentur für Arbeit
      40474 Düsseldorf
      Josef-Gockeln-Str. 7
      Telefon (0211) 43 06-0
      Telefax (02 11) 43 06-377
      E-Mail: Nordrhein-Westfalen@arbeitsagentur.de 
      Aufsichtsbehörde der Bundesagentur für Arbeit ist das Bundesministerium für Wirtschaft und Arbeit, Wilhelmstraße 49, 10117 Berlin. 
        
      <h1>Impressum</h1>    
    </header> 
    <nav>      
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
            <a href="/login">Logout</a>     
            <a href="/impressum">Impressum</a>    
            <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
     </nav>   
    </body>
</html>